Repository CaseyHillers/cartograms4all, changes with the owners that CODEOWNERS names for each.
All owners: @caseyhillers, @klin10, @mbcrane, @larocque492, @BrightSun95

CODEOWNERS:

*       @caseyhillers

*.js    @klin10

ui.js   @mbcrane
*.html  @mbcrane
*.scss  @mbcrane
*.css   @mbcrane


app/data/*      @larocque492

app/php/*       @BrightSun95
app/uploader/*  @BrightSun95
~

changes made as per pull request review
  app/css/style.css
  app/index.html
  app/js/functions.js
  app/php/ExportSettings.php
  app/php/ImportSettings.php
  app/php/fileUpload.php
  app/uploader/UploadManager.php
Owners: @mbcrane, @klin10, @BrightSun95

made requested changes
  app/index.html
  app/js/functions.js
  app/js/index.js
  app/js/ui.js
Owners: @mbcrane, @klin10

fixed a syntax error
  app/js/functions.js
Owners: @klin10

build script fix
  app/package.json
  package.json
Owners: @caseyhillers

kay this should be okay until I get the php stuff working
  app/js/functions.js
  app/js/index.js
Owners: @klin10

I feel like someone is trolling me...stuff is breaking
  app/js/functions.js
Owners: @klin10

I feel like someone is trolling me...stuff is breaking
  app/js/index.js
Owners: @klin10

I trolled myself
  app/js/functions.js
Owners: @klin10

...untrolling...
  app/js/index.js
Owners: @klin10

...untrolling...
  app/js/functions.js
Owners: @klin10

...untrolling...
  app/js/index.js
Owners: @klin10

...untrolling...
  app/js/index.js
  app/js/ui.js
Owners: @klin10, @mbcrane

trolling myself
  app/index.html
Owners: @mbcrane

nearly there nearly there
  app/css/BLANK
Owners: @caseyhillers

removed css/BLANK
  app/css/BLANK
Owners: @caseyhillers

getting temp working
  app/js/ui.js
Owners: @mbcrane

Update functions.js
  app/js/functions.js
Owners: @klin10

Update functions.js
  app/js/functions.js
Owners: @klin10

Update index.js
  app/js/index.js
Owners: @klin10
