Repository CaseyHillers/cartograms4all, changes with the owners that CODEOWNERS names for each.
All owners: @caseyhillers, @klin10, @mbcrane, @larocque492, @BrightSun95

CODEOWNERS:

*       @caseyhillers

*.js    @klin10

ui.js   @mbcrane
*.html  @mbcrane
*.scss  @mbcrane
*.css   @mbcrane


app/data/*      @larocque492

app/php/*       @BrightSun95
app/uploader/*  @BrightSun95
~

shareSessionID()
  app/css/style.css
  app/index.html
Owners: @mbcrane

index.html
  app/index.html
Owners: @mbcrane

Testing with working index and function js
  app/js/functions.js
  app/js/index.js
Owners: @klin10

Revert "Change default render view"
  app/js/index.js
Owners: @klin10

Testing if the remote file is working
  app/js/index.js
Owners: @klin10

Remove conflicted version
  app/index.html
Owners: @mbcrane

reverting bad changes on index.js
  app/js/index.js
Owners: @klin10

added modification to user session
  app/js/cookie.js
  app/js/index.js
Owners: @klin10

removed continue statement (wasn't in a loop)
  app/js/index.js
Owners: @klin10

userSessionCookie = readCookie('userSessionCookie)
  app/index.html
  app/js/functions.js
  app/js/index.js
  app/js/ui.js
Owners: @mbcrane, @klin10

displaying sessionID
  app/js/index.js
  app/js/ui.js
Owners: @klin10, @mbcrane

displaying sessionID
  app/js/cartogram.js
  app/js/index.js
  app/js/ui.js
Owners: @klin10, @mbcrane

displaying sessionID
  app/index.html
Owners: @mbcrane

displaying sessionID
  app/index.html
Owners: @mbcrane

displaying sessionID
  app/index.html
  app/js/ui.js
Owners: @mbcrane

displaying sessionID
  app/index.html
  app/js/index.js
Owners: @mbcrane, @klin10

displaying sessionID
  app/js/index.js
Owners: @klin10

displaying sessionID
  app/js/index.js
Owners: @klin10

displaying sessionID
  app/js/index.js
Owners: @klin10

displaying sessionID
  app/index.html
  app/js/ui.js
Owners: @mbcrane

displaying sessionID
  app/index.html
Owners: @mbcrane

displaying sessionID
  app/index.html
  app/scss/style.scss
Owners: @mbcrane

displaying sessionID
  app/index.html
  app/js/ui.js
Owners: @mbcrane

displaying sessionID
  app/index.html
  app/js/ui.js
Owners: @mbcrane

displaying sessionID
  app/js/ui.js
Owners: @mbcrane

using sessionID
  app/js/ui.js
Owners: @mbcrane

using sessionID
  app/js/ui.js
Owners: @mbcrane

using sessionID
  app/js/ui.js
Owners: @mbcrane

using sessionID
  app/js/ui.js
Owners: @mbcrane

using sessionID
  app/js/ui.js
Owners: @mbcrane

trying to access remote CSV using othe user's sessionID
  app/js/functions.js
  app/js/index.js
  app/js/ui.js
Owners: @klin10, @mbcrane

trying to access remote CSV using othe user's session ID
  app/js/ui.js
Owners: @mbcrane

working on renaming .csv files serverside
  app/js/functions.js
  app/uploader/upload-manager.php
Owners: @klin10, @BrightSun95

working on renaming .csv files serverside
  app/js/functions.js
  app/js/ui.js
Owners: @klin10, @mbcrane

working on renaming .csv files serverside
  app/js/functions.js
  app/uploader/upload-manager.php
Owners: @klin10, @BrightSun95

working on renaming .csv files serverside
  app/uploader/upload-manager.php
Owners: @BrightSun95

working on renaming .csv files serverside
  app/uploader/upload-manager.php
Owners: @BrightSun95

working on renaming .csv files serverside
  app/uploader/upload-manager.php
Owners: @BrightSun95

working on renaming .csv files serverside
  app/index.html
  app/js/functions.js
  app/js/index.js
  app/js/ui.js
  app/uploader/upload-manager.php
Owners: @mbcrane, @klin10, @BrightSun95

share tab should have the user Session ID
  app/js/ui.js
Owners: @mbcrane
